body{
    padding: 0%;
    margin: 0%;
    /* background-color: rgb(131, 183, 182); */
    background-image:url("https://media0.giphy.com/media/elcAvTEXkG02d17sr7/200.webp?cid=ecf05e47w97pwyuos69u3h6v2f4gvk44ygt77hfgacqrzfa9&ep=v1_gifs_search&rid=200.webp&ct=g");
    /* background-repeat: no-repeat; */
}

#nav{
    background-color: purple;
    color: white;
    position: fixed;
    display: flex;
    
    width: 100%;
    height: 65px;
}

#nav_li {
    margin-left: 80px;
    /* float: right; */
    font-size: larger;
    font-weight: 100;
    text-decoration: none;
    color: white;

}


#nav_li:hover{
    border: 2px solid white;
    border-radius: 10px;
    /* margin: 1px; */
    position: relative;
    margin-top: -25px;
    padding: 10px;
    background-color: rgb(55, 55, 101);
    transform: translate(1, -200px);
}

#nav1{
    display: flex;
    list-style-type: none;
    margin: 20px;
    
}

.logo{
    margin-right: 350px;
    /* margin-left:0%; */
    font-size: xx-large;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-weight: bolder;
    text-shadow:
    2px 1px 1px red,
    2px 2px 1px red;
    transform-style: inherit;
    /* border:1px solid white;
    background-color: rgb(55, 55, 101);
    border-radius: 5px;
    padding-bottom: 3px;
    padding: 5px;
    /* margin-top: -3px; */
    /* border-top: none;
    border-left: none;
    border-right: none; */
   
}
.img1{
    width:400px;
    height:500px;
    margin-top: 105px;
    margin-left: 25px;
    animation-name: shubu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    

    text-shadow: 5px 5px white;
    filter: drop-shadow(-4px 4px 6px yellow)
}


@keyframes shubu {
    0%{top:0px; left: 0px;}
    50%{top:15px; left: 15px;}
    100%{top:0px; left: 0px;}
}
#main{
    display: flex;
}

.detail{
    color: white;
    margin-top: 175px;
    margin-left: 200px;
    font-size: 350%;
    text-shadow:
    2px 2px 2px black,
    3px 3px 2px black;
}
.detail1{
    color: purple;
    margin-top: -15px;
    margin-left: 250px;
    font-size: 400%;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    text-shadow:
    2px 1px 1px red,
    2px 2px 1px red;
    animation-name: shubham;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    position: relative;

}

@keyframes shubham{
    0%{ top: 0px; left: 0px;}
    50%{top: 0px; left: 150px;}
    100%{top: 0px; left: 0px;}
    /* 100%{top:0px; left: 0px;} */
}

.detail2{
    color: white;
    /* margin-top: 175px; */
    margin-left: 200px;
    font-size: 300%;
    text-shadow:
    2px 2px 2px black,
    3px 3px 2px black;
}
.detail3{
    color: white;
    margin-top: 55px;
    margin-left: 10px;
    font-size: 300%;
    text-shadow:
    2px 2px 2px purple,
    3px 3px 2px purple;
}
.detail4{
    color: white;
    margin-top: 55px;
    margin-left: 10px;
    font-size: 200%;
    text-shadow:
    2px 2px 2px purple,
    3px 3px 2px purple;
}
#heading{
    color:yellow;
}

.detail5{
    color: white;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 200%;
    text-shadow:
    2px 2px 2px purple,
    3px 3px 2px purple;
}

#foot{
    width: 100%;
    height:220px;
    /* position: fixed; */
    background-color: black;
    border: 2px solid black;
}
.last{
    color: white;
    text-shadow:
    2px 2px 2px purple,
    3px 3px 2px purple;
    font-size: 200%;
    text-align: center;
    justify-content: center;
    border-top: 3px solid white;
}
.social_media1{
    display: flex;
    color: white;
    list-style-type: none;
    margin: 5px;
}

.social_media2{
    margin-left: 35px;
    text-decoration: none;
    color: white;
}

/* -----------Responsive------------ */

@media only screen and (max-width: 600px){
#nav{
    width: 100%;
    height: 45px;
}

.logo{
        font-size: medium;
        margin-right: 0px;
        margin-left: -40px;
    }

#nav_li{
    display: none;
}

#main{
    display: block;
}

.img1{
    width:300px;
    height:400px;
    margin-top: 85px;
    margin-left: 25px;
    animation-name: shubu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    overflow-x: hidden;
    

    text-shadow: 5px 5px white;
    filter: drop-shadow(-4px 4px 6px yellow)
}


@keyframes shubu {
    0%{top:0px; left: 0px;}
    50%{top:15px; left: 15px;}
    100%{top:0px; left: 0px;}
}

.detail{
    color: white;
    margin-top: 45px;
    margin-left: 10px;
    font-size: 250%;
}

.detail1{
    color: purple;
    margin-top: -15px;
    margin-left: 10px;
    font-size: 150%;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    text-shadow:
    2px 1px 1px red,
    2px 2px 1px red;
    animation-name: shubham;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    position: relative;
    overflow-x: hidden;

}

@keyframes shubham{
    0%{ top: 0px; left: 0px;}
    50%{top: 0px; left: 80px;}
    100%{top: 0px; left: 0px;}
    /* 100%{top:0px; left: 0px;} */
}

.detail2{
    color: white;
    /* margin-top: 175px; */
    margin-left: 10px;
    font-size: 150%;
    overflow-x: hidden;
}

.detail3{
    color: white;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 250%;
}

.detail4{
    color: white;
    margin-top: 55px;
    margin-left: 10px;
    font-size: 120%;
    overflow-x: hidden;
}

.detail5{
    color: white;
    margin-top: 55px;
    margin-left: 10px;
    font-size: 120%;
    overflow-x: hidden;
}

#heading{
    color:yellow;
    font-size: 150%;
}

.social_media2{
    margin-left: 5px;
    margin: 8px;
    text-decoration: none;
    color: white;
}
body{
    overflow-x: hidden;
}
}
